@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;1,500&family=Lato:ital,wght@0,400;1,300;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3 {
    margin: 0px;
    font-size: 1rem;
}
button {
    font-size: 1rem;
    font-family: sans-serif;
    line-height: normal;
}
p {
    margin-bottom: 0px;
}

ul {
    padding: 0px;
}
header {
    font-family: 'lato', sans-serif;
    border: 1px;
}
/* aca empieza el header */
.header-encabezado {
    background-color: #212121;
    margin-bottom: 30px;
    border: 2px solid #86DEEC;
    border-top: .0938rem solid #86DEEC;
}
.section-superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-wrapper {
    width: 100%;
    margin: 0 auto;
}
nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}
nav .logo img {
    border-radius: 100%;
    width: 6.25rem;
    margin-top: .625rem;
    margin-left: 100px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 5%;
    flex-wrap: nowrap;
    justify-content: center;
}
.menu {
    display: flex;
    justify-content: center
}
.menu a {
    text-decoration: none;
    text-transform: none;
    color: #86DEEC;
    font-size: 2.5rem;
}
nav #toggle,
nav label {
    display: none;
}
/**aca empieza el main index */
main {
    font-family: 'Lato', sans-serif;
    background-color: #212121;
    border: 2px solid #86DEEC;
}
.section-1 div a h3 {
    font-size: 1.2rem;
}
.section-1 div a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-1 div {
    width: 350px;
    height: 26.25rem;
    border-radius: 10%;
    overflow: hidden;
    background-color: #B9B9B9;
    border: 3px solid #86DEEC;
}
.section-1 div a img {
    width: 21.875rem;
    height: 21.875rem;
    object-fit: cover;
} 
.section-1 .item5 a img{
    width: 400px;
    height: 420px;
}
.section-1 .item8{
    background-color: #212121;
}
.section-1 .item8 a p{
    color: #86DEEC;
    font-size: 3rem;
    margin: 30px 40px;
}
.section-1 .item13 img{
    width: 21.875rem;
    height: 21.875rem;
    filter: blur(15px);
}
.section-1 .item13  img:hover{
    filter: none;
}
.section-1 .item13 p {
    background: transparent;
    color: black;
    font-size: 2rem;
    text-align: center;
}
.div-flex {
    display: flex;
    justify-content: center;
}
.section-1 {
    row-gap: 3.125rem;
    column-gap: 1.5rem;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    justify-items: center;
    justify-content: center;
    display: grid;
    width: 100%;
    grid-template-columns: 22.5rem 22.5rem 22.5rem;
    grid-template-areas:
    "item1 item2 item3"
        "item4 item5 item6"
        "item7 item8 item9"
        "item10 item11 item12"
        "item13 item14 item15"
    ;
}
.item1 {
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3 {
    grid-area: item3;
}
.item4 {
    grid-area: item4;
}
.item5 {
    grid-area: item5;
}
.item6 {
    grid-area: item6;
}
.item7 {
    grid-area: item7;
}
.item8 {
    grid-area: item8;
}
.item9 {
    grid-area: item9;
}
.item10{
    grid-area: item10;
}
.item11{
    grid-area: item13;
}
.item12{
    grid-area: item12;
}
.item13{
    grid-area: item11;
}
.item14{
    grid-area: item14;
}
/**aca main product**/
.article-h1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #86DEEC;
    padding: 30px;
    font-size: 1.7rem;
}
.potato img {
    width: 43.75rem;
    border: .125rem solid #86DEEC;
}
.section-product {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.section-img {
    background-color: #212121;
    padding: 20px 70px;
    margin-top: 3.125rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: .125rem solid #86DEEC;
}
.div-talle {
    color: #86DEEC;
    border: 2px solid #86DEEC;
    background-color: #212121;
    height: 23rem;
    width: 15.625rem;
    gap: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.div-talle button {
    padding: 5px;
    border: 1px solid #86DEEC;
    background-color: #212121;
    border-radius: 10%;
}
.div-talle a {
    text-decoration: none;
    color: #86DEEC;
}
.mas-productos {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6.25rem;
    color: #86DEEC;
    gap: 3.125rem;
}
.section-mas button img {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
}
.section-mas {
    margin-bottom: 1.875rem;
    gap: 1.875rem;
    justify-content: space-evenly;
    display: flex;
    align-items: flex-start;
}
.section-mas button {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    overflow: hidden;
    background-color: #B9B9B9;
    border-color: #86DEEC;
}
/**aca empieza main acces***/

.flex-acc {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.fil-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #86DEEC;
}
.filtros{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.25rem;
    margin-top: 1.25rem;
    margin-left: 2%;
    padding: 20px;
    border: 1px solid #86DEEC;
    color: #86DEEC;
}
.section-acc button img {
    width: 180px;
    object-fit: contain;
}
.section-acc {
    display: grid;
    width: 100%;
    row-gap: .625rem;
    margin: .625rem;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.section-acc button {
    background-color: #212121;
    border: none;
}
.section-acc button a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    overflow: hidden;
    background-color: #B9B9B9;
    border: 3px solid #86DEEC;
}

/**aca empieza el main info**/
.section-info div {
    background-color: #212121;
    width: 25rem;
    height: 26.25rem;
    text-align: center;
    border-radius: 20%;
    color: #86DEEC;
    border: 2px solid #86DEEC;
    margin-top: .625rem;
    margin-bottom: .625rem;
}
.section-info div p{
    margin: 20px 10px 10px 10px;
}
.section-info div p a{
    color: #07d2f1;
}
.section-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}
.div-info{
    display: flex;
    justify-content: center;
}

/* aca empieza la galeria  */
.glr-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.glr-grid {
    row-gap: 1.3rem;
    column-gap: 1.3rem;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    display: grid;
    width: 60%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "item1 item2"
        "item3 item4"
        "item5 item4"
        "item6 item6"
        "item7 item8"
    ;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: stretch;
}
.grl{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.glr-1 {
    grid-area: item1;
}
.glr-2 {
    grid-area: item2;
}
.glr-3 {
    grid-area: item3;
}
.glr-4 {
    grid-area: item4;
}
.glr-5 {
    grid-area: item5;
}
.glr-6 {
    grid-area: item6;
}
.glr-7 {
    grid-area: item7;
}
.glr-8 {
    grid-area: item8;
}
/**aca empieza el footer**/
footer {
    background-color: #212121;
    margin-top: 1.875rem;
    font-family: 'Lato', sans-serif;
    border: 2px solid #86DEEC;
}
footer .section-redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 9.375rem;
}
footer .section-redes ul a {
    text-decoration: none;
    color: #86DEEC;
    font-size: 1rem;
}
footer .section-redes .ul-lista {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
}
footer .section-redes .logo-footer img {
    border-radius: 100%;
    width: 6.25rem;
}
footer .section-redes ul li {
    margin-left: 10px;
    margin-top: 10px;
}
footer .section-redes ul li img {
    width: 25px;
    height: 25px;
}
footer .section-redes ul .li-discord img {
    border-radius: 100%;
}
@media(max-width:1280px) {
    nav .logo img {
        margin-left: 0.625rem;
    }
    .section-1 div a img {
        width: 18.75rem;
        height: 18.75rem;
    }
    .section-1 div{
        width: 18.75rem;
        height: 21.875rem;
    }
    .section-1 article iframe{
        width: 18.75rem;
        height: 21.875rem;
    }
    .section-1 {
        display: grid;
        width: 100%;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        justify-content: space-around;
        grid-template-columns:200px 200px;
        grid-template-areas:
        "item1 item2"
        "item3 item4"
        "item5 item6"
        "item7 item8"
        "item9 item10"
        "item11 item12"
        "item13 item14"
        "item15 item16"
        ;
    }
    .mas-productos .mas-4 {
        display: none;
    }
    /* empieza accesorios */
    .section-acc{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media(max-width:1100px) {
    .section-product .section-img {
        padding: 10px;
    }
    .section-product .potato img {
        width: 37.5rem;
    }
    .section-mas button img {
        width: 15.625rem;
        height: 15.625rem;
    }
}
@media(max-width: 991px) {
    .header-encabezado {
        margin-bottom: 1.5625rem;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    nav .logo img{
        width: 5rem;
    }
    nav .menu{
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .menu a{
        font-size: 1.875rem;
    }
    nav ul {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem 0px;
        gap: 4%;
        width: 100%;
    }

    nav label {
        display: flex;
        cursor: pointer;
        justify-content: flex-end;
    }
    nav label img {
        width: 3.75rem;
    }
    nav #toggle:checked~.menu{
        height: 100%;
    }
    /* aca empieza el rpoduc */
    .d-flex {
        display: none;
    }
    .mas-productos .mas3{
        display: none;
    }
    .section-product .section-img{
        padding: 1px;
    }
    .section-product .potato img {
        width: 31.25rem;
    }
    .div-talle {
        font-size: 1rem;
        width: 13.75rem;
    }
    .section-acc {
        grid-template-columns: repeat(3, 13.75rem);
    }
    /* aca empieza la galeria */
    .glr-grid {
        display: grid;
        width: 80%;
        gap: .625rem;
    }
    /* aca empieza el footer */
    footer {
        margin-top: 1.5625rem;
    }
    footer .section-redes {
        gap: 0px;
    }
}
@media (max-width:890px){
    .filtros{
        display: none;
    }
    /* info */
    .section-info {
        display: grid;
        grid-template-columns:1fr;
        column-gap: 20px;
    }
}
@media(max-width:730px) {
    .section-product {
        flex-direction: column;
        gap: 2rem;
    }
    .section-product .potato img {
        width: 25rem;
        margin-bottom: .625rem;
    }
    .div-talle {
        height: 12.5rem;
        gap: 0rem;
    }
    .mas-productos {
        margin-top: 1rem;
    }
    .mas-productos .mas2 {
        display: none;
    }
}
@media(max-width:700px) {
    nav label img {
        width: 2.8125rem;
    }
    .menu a {
        font-size: 1.25rem;
    }
    /* aca empieza el index */
    .section-1 div{
        width: 15.625rem;
        height: 18.75rem;
    }
    .section-1 div a .item-img{
        width: 250px;
        height: 250px;
    }
    .section-1 .item2, .item14{
        display: none;
    }
    .section-1 .item8 a p{
        width: 240px;
        height: 340px;
        margin: 10px;
    }
    .section-1 .item13 a .item-img{
        filter: none;
    }
    .section-1 .item13 p{
        font-size: 1.5rem;
    }
    .section-1 {
        gap: 20px;
        column-gap: 0px;
        justify-content: space-around;
        display: grid;
        grid-template-columns:200px;
        grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6"
        "item7"
        "item8"
        "item9"
        "item10"
        "item11"
        "item12"
        "item13"
        "item14"
        ;
    }
    .section-product .potato img {
        width: 18.75rem;
        margin-bottom: .625rem;
    }
    /* empieza el footer */
    .section-redes {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
    .ul-redes {
        text-decoration: none;
    }
    .ul-lista a {
        display: none;
    }
    .d-flex {
        display: none;
    }
    .section-acc {
        grid-template-columns: repeat(2, 13.75rem);
    }
}
@media(max-width:450px) {
    .header-encabezado {
        margin-bottom: 0.625rem;
    }
    nav {
        padding: .625rem .9375rem;
    }
    /* empieza acc */
    .section-acc {
        grid-template-columns: repeat(1, 13.75rem);
    }
    .section-mas button img {
        width: 12.5rem;
        height: 12.5rem;
    }
    /* empieza galeria */
    .glr-grid {
        display: grid;
        gap: 5px;
        margin-top: .9375rem;
        margin-bottom: .9375rem;
    }
    /* empieza footer */
    footer {
        margin-top: .625rem;
    }
    footer .section-redes .ul-redes li img {
        width: 1rem;
        height: 1rem;
    }
    footer .section-redes .logo-footer img {
        width: 3.75rem;
    }
    /* info */
    .section-info div {
        width: 250px;
        height: 300px;

}
@media(max-width:350px) {
    .section-product .potato img{
        width: 15.625rem;
    }
}
}