@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;1,500&family=Lato:ital,wght@0,400;1,300;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h3 {
  margin: 0px;
  font-size: 1rem; }

button {
  font-size: 1rem;
  font-family: sans-serif;
  line-height: normal; }

p, .main-404 .div-404 .text .txt {
  margin-bottom: 0px; }

ul {
  padding: 0px; }

header {
  font-family: 'lato', sans-serif;
  border: 1px; }

body {
  background-color: #B9B9B9; }

.header-encabezado {
  border: 2px solid #86DEEC;
  margin-bottom: .625rem;
  background-color: #131313; }
  .header-encabezado nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 1.5rem; }
    .header-encabezado nav #toggle, .header-encabezado nav label {
      display: none; }
    .header-encabezado nav .menu {
      display: flex;
      justify-content: center; }
      .header-encabezado nav .menu ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        list-style: none;
        gap: 5%; }
        .header-encabezado nav .menu ul li:hover {
          transform: scale(1.2);
          transition: transform .7s; }
        .header-encabezado nav .menu ul li a {
          text-decoration: none;
          text-transform: none;
          color: #86DEEC;
          font-size: 2.5rem; }
          .header-encabezado nav .menu ul li a:hover {
            color: white;
            transition: color .7s; }
    .header-encabezado nav .section-superior {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
    .header-encabezado nav .logo img {
      border-radius: 100%;
      width: 6.25rem;
      margin-top: .625rem;
      margin-left: 6.25rem; }

main {
  font-family: 'lato', sans-serif;
  background-color: #131313;
  border: 0.125rem solid #86DEEC; }
  main .div-flex {
    display: flex;
    justify-content: center; }
    main .div-flex .section-1 {
      row-gap: 3.125rem;
      column-gap: 1.5rem;
      margin-top: 3.125rem;
      margin-bottom: 3.125rem;
      justify-items: center;
      justify-content: center;
      display: grid;
      width: 100%;
      grid-template-columns: 22.5rem 22.5rem 22.5rem;
      grid-template-areas: "item0 item0 item0" "item1 item2 item3" "item4 item5 item6" "item7 item8 item9" "item10 item11 item12" "item13 item14 item15" "item16 item17 item18"; }
      main .div-flex .section-1 .item0 {
        grid-area: item0;
        width: 100%;
        height: auto; }
      main .div-flex .section-1 .video, main .div-flex .section-1 .card {
        border: 2px solid #86DEEC;
        border-radius: 10%;
        box-shadow: 11px 11px 22px #121212, -11px -11px 22px rgba(71, 183, 183, 0.347);
        width: 21.875rem;
        height: 26.25rem; }
        main .div-flex .section-1 .video:hover, main .div-flex .section-1 .card:hover {
          box-shadow: 0 0 5px #47b7b7, 0 0 25px #47b7b7, 0 0 50px #47b7b7, 0 0 100px #47b7b7;
          transition: box-shadow .3s; }
      main .div-flex .section-1 .card {
        width: 21.875rem;
        height: 26.25rem;
        overflow: hidden;
        background-color: #B9B9B9; }
        main .div-flex .section-1 .card a {
          text-decoration: none;
          color: black;
          display: flex;
          flex-direction: column;
          align-items: center; }
          main .div-flex .section-1 .card a h3 {
            font-size: 1.2rem; }
          main .div-flex .section-1 .card a img {
            width: 21.875rem;
            height: 21.875rem;
            object-fit: cover; }
      main .div-flex .section-1 .item5 a img {
        width: 25rem;
        height: 26.25rem; }
      main .div-flex .section-1 .item8 {
        background-color: #131313; }
        main .div-flex .section-1 .item8 a p, main .div-flex .section-1 .item8 a .main-404 .div-404 .text .txt, .main-404 .div-404 .text main .div-flex .section-1 .item8 a .txt {
          color: #86DEEC;
          font-size: 3rem;
          margin: 1.875rem 2.5rem; }
      main .div-flex .section-1 .item11 a p, main .div-flex .section-1 .item11 a .main-404 .div-404 .text .txt, .main-404 .div-404 .text main .div-flex .section-1 .item11 a .txt {
        font-size: 2rem;
        text-align: center; }
      main .div-flex .section-1 .item11 a img {
        width: 21.875rem;
        height: 21.875rem;
        filter: blur(10px); }
        main .div-flex .section-1 .item11 a img:hover {
          filter: none; }

.flex-acc {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: normal;
  gap: 0rem; }
  .flex-acc .filtros {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1.25rem;
    border: 2px solid #86DEEC;
    padding: 1.25rem;
    margin: 1rem; }
    .flex-acc .filtros div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0rem; }
      .flex-acc .filtros div p, .flex-acc .filtros div .main-404 .div-404 .text .txt, .main-404 .div-404 .text .flex-acc .filtros div .txt, .flex-acc .filtros div h4, .flex-acc .filtros div h3 {
        color: #86DEEC; }
    .flex-acc .filtros .fil-1 {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      gap: 0.625rem; }
  .flex-acc .section-acc {
    display: grid;
    row-gap: .625rem;
    margin: .625rem;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%; }
    .flex-acc .section-acc button {
      background-color: #131313;
      border: none; }
      .flex-acc .section-acc button a {
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 0rem;
        border-radius: 10%;
        overflow: hidden;
        background-color: #B9B9B9;
        border: 2px solid #86DEEC;
        width: 100%;
        height: 100%; }
        .flex-acc .section-acc button a img {
          width: 11.25rem;
          object-fit: cover; }

.glr-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0px; }
  .glr-flex .glr-grid {
    row-gap: 1.3rem;
    column-gap: 1.3rem;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    display: grid;
    width: 60%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "item1 item2" "item3 item4" "item5 item4" "item6 item6" "item7 item8";
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: stretch; }
    .glr-flex .glr-grid .div-glr {
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .glr-flex .glr-grid .div-glr .glr {
        width: 100%;
        height: 100%;
        object-fit: cover; }
        .glr-flex .glr-grid .div-glr .glr:hover {
          transform: scale(1.2, 1.2);
          transition: transform 0.5s; }
    .glr-flex .glr-grid .glr-1 {
      grid-area: item1; }
    .glr-flex .glr-grid .glr-2 {
      grid-area: item2; }
    .glr-flex .glr-grid .glr-3 {
      grid-area: item3; }
    .glr-flex .glr-grid .glr-4 {
      grid-area: item4; }
    .glr-flex .glr-grid .glr-5 {
      grid-area: item5; }
    .glr-flex .glr-grid .glr-6 {
      grid-area: item6; }
    .glr-flex .glr-grid .glr-7 {
      grid-area: item7; }
    .glr-flex .glr-grid .glr-8 {
      grid-area: item8; }

.div-info {
  display: flex;
  justify-content: center; }
  .div-info .section-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.25rem;
    row-gap: 1.25rem; }
    .div-info .section-info .info {
      background-color: #131313;
      width: 25rem;
      height: 25rem;
      text-align: center;
      border-radius: 20%;
      color: #86DEEC;
      border: 2px solid #86DEEC;
      margin-top: .625rem;
      margin-bottom: .625rem;
      overflow: hidden; }
      .div-info .section-info .info h4 {
        margin-top: 1.25rem; }
      .div-info .section-info .info p, .div-info .section-info .info .main-404 .div-404 .text .txt, .main-404 .div-404 .text .div-info .section-info .info .txt {
        margin: 1.25rem .625rem .625rem .625rem; }
        .div-info .section-info .info p a, .div-info .section-info .info .main-404 .div-404 .text .txt a, .main-404 .div-404 .text .div-info .section-info .info .txt a {
          color: #86DEEC; }
    .div-info .section-info form {
      margin-top: .625rem;
      margin-bottom: 1.25rem; }

main .section-product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: center; }
  main .section-product .section-img {
    background-color: #131313;
    padding: 1.25rem 4.375rem;
    margin-top: 3.125rem;
    margin-left: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid #86DEEC; }
    main .section-product .section-img .article-h1 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0px;
      padding: 1.875rem; }
      main .section-product .section-img .article-h1 h1, main .section-product .section-img .article-h1 .main-404 .div-404 .text p, .main-404 .div-404 .text main .section-product .section-img .article-h1 p, main .section-product .section-img .article-h1 .main-404 .div-404 .text .txt, .main-404 .div-404 .text main .section-product .section-img .article-h1 .txt, main .section-product .section-img .article-h1 p, main .section-product .section-img .article-h1 .main-404 .div-404 .text .txt, .main-404 .div-404 .text main .section-product .section-img .article-h1 .txt {
        color: #86DEEC;
        font-size: 1.7rem; }
    main .section-product .section-img .potato img {
      width: 43.75rem;
      border: 2px solid #86DEEC; }
  main .section-product .section-compra {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    margin-top: 3.125rem; }
    main .section-product .section-compra .div-talle, main .section-product .section-compra .historia {
      border: 2px solid #86DEEC;
      background-color: #131313;
      height: 23rem;
      width: 20rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10%; }
      main .section-product .section-compra .div-talle ul h3, main .section-product .section-compra .historia ul h3 {
        font-size: 1.5rem;
        color: #86DEEC; }
      main .section-product .section-compra .div-talle ul button, main .section-product .section-compra .historia ul button {
        border: 1px solid #86DEEC;
        padding: .3125rem;
        background-color: #131313;
        border-radius: .3125rem; }
        main .section-product .section-compra .div-talle ul button a, main .section-product .section-compra .historia ul button a {
          text-decoration: none;
          color: #86DEEC; }
      main .section-product .section-compra .div-talle .button-compra, main .section-product .section-compra .historia .button-compra {
        border: 1px solid #86DEEC;
        padding: .3125rem;
        background-color: #131313;
        border-radius: .3125rem; }
        main .section-product .section-compra .div-talle .button-compra a, main .section-product .section-compra .historia .button-compra a {
          text-decoration: none;
          color: #86DEEC; }
      main .section-product .section-compra .div-talle h5, main .section-product .section-compra .historia h5, main .section-product .section-compra .div-talle h6, main .section-product .section-compra .historia h6 {
        color: #86DEEC; }
    main .section-product .section-compra .historia {
      width: 20rem;
      color: #86DEEC; }
      main .section-product .section-compra .historia p, main .section-product .section-compra .historia .main-404 .div-404 .text .txt, .main-404 .div-404 .text main .section-product .section-compra .historia .txt {
        overflow: auto;
        font-size: 1.3rem;
        margin: .625rem; }

main .mas-productos {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
  margin-top: 6.25rem; }
  main .mas-productos h2 {
    color: #86DEEC; }
  main .mas-productos .section-mas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1.875rem;
    margin-bottom: 1.875rem; }
    main .mas-productos .section-mas button {
      box-shadow: 11px 11px 22px #121212, -11px -11px 22px rgba(71, 183, 183, 0.347);
      border: 2px solid #86DEEC;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10%;
      overflow: hidden;
      background-color: #131313;
      background-color: #B9B9B9; }
      main .mas-productos .section-mas button:hover {
        box-shadow: 0 0 5px #47b7b7, 0 0 25px #47b7b7, 0 0 50px #47b7b7, 0 0 100px #47b7b7;
        transition: box-shadow .3s; }
      main .mas-productos .section-mas button h3, main .mas-productos .section-mas button p, main .mas-productos .section-mas button .main-404 .div-404 .text .txt, .main-404 .div-404 .text main .mas-productos .section-mas button .txt {
        color: black;
        text-decoration: none; }
      main .mas-productos .section-mas button img {
        width: 18rem;
        height: 18rem;
        object-fit: cover; }

.main-404 .div-404 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0rem;
  height: 90vh; }
  .main-404 .div-404 .text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem; }
    .main-404 .div-404 .text .gif-1 {
      display: none; }
    .main-404 .div-404 .text h1, .main-404 .div-404 .text p, .main-404 .div-404 .text .txt {
      color: #86DEEC;
      text-align: center;
      font-size: 4rem; }
    .main-404 .div-404 .text p, .main-404 .div-404 .text .txt {
      font-size: 2rem; }
    .main-404 .div-404 .text .txt {
      width: 37.5rem; }
      .main-404 .div-404 .text .txt::after {
        content: " inicio"; }
    .main-404 .div-404 .text .buttoncito {
      position: relative;
      width: 12.5rem;
      height: 4.375rem;
      border-radius: 1.25rem;
      z-index: 1111;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .main-404 .div-404 .text .buttoncito .bg {
        position: absolute;
        width: 11.875rem;
        height: 3.75rem;
        z-index: 2;
        background: #131313;
        backdrop-filter: blur(24px);
        border-radius: 1.0625rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center; }
      .main-404 .div-404 .text .buttoncito .blob {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        width: 9.375rem;
        height: 3.75rem;
        border-radius: 50%;
        background-color: #86DEEC;
        opacity: 1;
        filter: blur(2px);
        animation: blob-bounce 3s infinite ease; }

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0); }
  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0); }
  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0); }
  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0); }
  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0); } }

footer {
  background-color: #131313;
  margin-top: .625rem;
  font-family: 'Lato', sans-serif;
  border: 0.125rem solid #86DEEC; }
  footer .section-redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: .9375rem;
    gap: 9.375rem; }
    footer .section-redes .ul-redes {
      display: flex;
      flex-direction: column;
      gap: 1.25rem; }
      footer .section-redes .ul-redes li {
        display: flex;
        flex-direction: row;
        margin: 0rem .625rem 0rem .625rem; }
        footer .section-redes .ul-redes li a {
          text-decoration: none;
          color: #86DEEC;
          font-size: 1rem;
          width: 100px; }
          footer .section-redes .ul-redes li a img {
            width: 1.5625rem;
            height: 1.5625rem; }
      footer .section-redes .ul-redes .li-discord a img {
        border-radius: 100%; }
    footer .section-redes .logo-footer a img {
      width: 6.25rem;
      border-radius: 100%; }
    footer .section-redes .ul-lista {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 0.625rem;
      padding: 1.25rem 0rem 1.25rem 0rem; }
      footer .section-redes .ul-lista a {
        text-decoration: none;
        color: #86DEEC;
        font-size: .875rem; }

@media (max-width: 1280px) {
  header nav .section-superior .logo img {
    margin-left: 0.625rem; }
  main .div-flex .section-1 {
    display: grid;
    width: 100%;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    justify-content: space-around;
    grid-template-columns: 12.5rem 12.5rem;
    grid-template-areas: "item0 item0" "item1 item2" "item3 item4" "item5 item6" "item7 item8" "item9 item10" "item11 item12" "item13 item14" "item15 item16"; }
  main .mas-productos .section-mas .mas-4 {
    display: none; }
  main .flex-acc .section-acc {
    grid-template-columns: repeat(4, 1fr); }
  main .section-product .section-img {
    padding: 1.25rem; } }

@media (max-width: 1190px) {
  main .section-product .section-img {
    padding: .625rem;
    margin-left: 0px; }
    main .section-product .section-img .potato img {
      width: 37.5rem; }
  main .mas-productos .section-mas button img {
    width: 15.625rem;
    height: 15.625rem; }
  .main-404 .div-404 .gif-2 {
    display: none; }
  .main-404 .div-404 .text {
    gap: 0px;
    width: 100%; }
    .main-404 .div-404 .text .gif-1 {
      display: block; } }

@media (max-width: 991px) {
  .header-encabezado {
    margin-bottom: .625rem; }
    .header-encabezado nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .header-encabezado nav .section-superior .logo img {
        width: 5rem; }
      .header-encabezado nav label {
        display: flex;
        cursor: pointer;
        justify-content: flex-end; }
        .header-encabezado nav label img {
          width: 3.75rem; }
      .header-encabezado nav #toggle:checked ~ .menu {
        height: 100%; }
      .header-encabezado nav .menu {
        width: 100%;
        height: 0px;
        overflow: hidden; }
        .header-encabezado nav .menu ul {
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
          padding: 0.5rem 0px;
          gap: 4%;
          width: 100%; }
          .header-encabezado nav .menu ul li a {
            font-size: 1.875rem; }
  main .section-product .section-img {
    padding: .0625rem; }
    main .section-product .section-img .potato img {
      width: 31.25rem; }
  main .section-product .section-compra .div-talle, main .section-product .section-compra .historia {
    width: 13.75rem; }
    main .section-product .section-compra .div-talle button a, main .section-product .section-compra .historia button a, main .section-product .section-compra .div-talle h5, main .section-product .section-compra .historia h5, main .section-product .section-compra .div-talle h6, main .section-product .section-compra .historia h6 {
      font-size: 1rem; }
    main .section-product .section-compra .div-talle ul h3, main .section-product .section-compra .historia ul h3, main .section-product .section-compra .div-talle ul button a, main .section-product .section-compra .historia ul button a {
      font-size: 1rem; }
  main .mas-productos .section-mas .mas3 {
    display: none; }
  main .flex-acc .filtros {
    display: none; }
  main .flex-acc .section-acc {
    grid-template-columns: repeat(3, 13.75rem); }
  main .glr-flex .glr-grid {
    width: 80%;
    gap: .625rem; }
  main .div-info .section-info {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1.25rem; }
  footer {
    margin-top: .625rem; }
    footer .section-redes {
      gap: 0rem; } }

@media (max-width: 760px) {
  main .glr-flex .glr-grid {
    width: 90%;
    gap: .625rem;
    grid-template-columns: 1fr;
    grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item7" "item8"; }
    main .glr-flex .glr-grid .glr-6 {
      display: none; } }

@media (max-width: 730px) {
  main .section-product {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    main .section-product .section-img .potato img {
      width: 25rem;
      margin-bottom: .625rem; }
    main .section-product .section-compra .div-talle, main .section-product .section-compra .historia {
      height: 12.5rem;
      gap: 0rem; }
  main .mas-productos {
    gap: 1rem;
    margin-top: 1rem; }
    main .mas-productos .section-mas .mas2 {
      display: none; } }

@media (max-width: 700px) {
  .header-encabezado nav label img {
    width: 2.8125rem; }
  .header-encabezado nav .menu ul li a {
    font-size: 1.25rem; }
  main .div-flex .section-1 {
    gap: 20px;
    column-gap: 0px;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 12.5rem;
    grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item6" "item7" "item8" "item9" "item10" "item11" "item12" "item13" "item14"; }
    main .div-flex .section-1 div {
      width: 22rem;
      height: 25rem; }
      main .div-flex .section-1 div a .item-img {
        width: 22rem;
        height: 22rem; }
    main .div-flex .section-1 .item0 {
      display: none; }
    main .div-flex .section-1 .item2, main .div-flex .section-1 .item14 {
      display: none; }
    main .div-flex .section-1 .item8 a p, main .div-flex .section-1 .item8 a .main-404 .div-404 .text .txt, .main-404 .div-404 .text main .div-flex .section-1 .item8 a .txt {
      width: 15rem;
      height: 18.75rem;
      margin: .625rem; }
    main .div-flex .section-1 .item11 a .item-img {
      filter: none; }
  main .section-product .section-img .potato img {
    width: 18.75rem;
    margin-bottom: .625rem; }
  footer .section-redes {
    flex-direction: row-reverse;
    justify-content: space-evenly; }
    footer .section-redes .ul-lista {
      display: none; }
  main .flex-acc .section-acc {
    grid-template-columns: repeat(2, 13.75rem); }
  .main-404 .div-404 {
    height: 110vh; }
    .main-404 .div-404 .text .gif-1 {
      width: 25rem; }
    .main-404 .div-404 .text p, .main-404 .div-404 .text .txt {
      width: 18.75rem; }
    .main-404 .div-404 .text .txt {
      margin-bottom: .625rem; }
      .main-404 .div-404 .text .txt::after {
        content: none; } }

@media (max-width: 450px) {
  .header-encabezado {
    margin-bottom: 0.625rem; }
    .header-encabezado nav {
      padding: .625rem .9375rem; }
  main .div-flex .section-1 div {
    width: 22rem;
    height: 25.625rem; }
    main .div-flex .section-1 div a .item-img {
      width: 22rem;
      height: 22rem; }
  main .flex-acc .section-acc {
    grid-template-columns: repeat(2, 0.8fr);
    margin: .625rem 0px .625rem 0px;
    width: 100%; }
    main .flex-acc .section-acc button {
      width: 9.375rem;
      height: 11.875rem; }
      main .flex-acc .section-acc button .a-a {
        gap: 2%; }
        main .flex-acc .section-acc button .a-a img {
          width: 9.375rem;
          height: 9.375rem; }
        main .flex-acc .section-acc button .a-a h3, main .flex-acc .section-acc button .a-a p, main .flex-acc .section-acc button .a-a .main-404 .div-404 .text .txt, .main-404 .div-404 .text main .flex-acc .section-acc button .a-a .txt {
          font-size: .625rem; }
  main .mas-productos .section-mas button a img {
    width: 12.5rem;
    height: 12.5rem; }
  footer {
    margin-top: .625rem; }
    footer .section-redes .ul-redes li a img {
      width: 1rem;
      height: 1rem; }
    footer .section-redes .logo-footer a img {
      width: 3.75rem; }
  main .div-info .section-info .info {
    width: 15.625rem;
    height: 20rem; }
  .main-404 .div-404 .text .gif-1 {
    width: 18.75rem; } }

@media (max-width: 376px) {
  main .div-flex .section-1 div {
    width: 21.4375rem;
    height: 25rem; }
    main .div-flex .section-1 div a .item-img {
      width: 21.4375rem;
      height: 22rem; }
  main .section-product .section-img .potato img {
    width: 15.625rem; } }

@media (max-width: 360px) {
  main .div-flex .section-1 .card {
    width: 18rem;
    height: 21.25rem; }
    main .div-flex .section-1 .card .a-a .item-img {
      width: 18rem;
      height: 18rem; } }
