
@media(max-width:450px){
    .header-encabezado{
        margin-bottom: 0.625rem;
        nav{
            padding: .625rem .9375rem;
        }
    }
    main{
        .div-flex{
            .section-1{
                div{
                    width: 22rem;
                    height: 25.625rem;
                    a{
                        .item-img{
                            width: 22rem;
                            height: 22rem;
                        }
                    }
                }
            }
        }
    }
    main{ 
        .flex-acc{
            .section-acc{
                grid-template-columns:repeat(2,0.8fr);
                margin: .625rem 0px .625rem 0px;
                button{
                    width: 150px;
                    height: 190px;
                    .a-a{
                        gap: 2%;
                        img{
                            width: 9.375rem;
                            height: 150px;
                        }
                        h3,p{
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
    main{
        .mas-productos{
            .section-mas{
                button{
                    a{
                        img{
                            width: 12.5rem;
                            height: 12.5rem;
                        }
                    }
                }
            }
        }
    }
    footer{
        margin-top: .625rem;
        .section-redes{
            .ul-redes{
                li{
                    a{
                        img{
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                }
            }
            .logo-footer{
                a{
                    img{
                        width: 3.75rem;
                    }
                }
            }
        }
    }
    main{
        .div-info{
            .section-info{
                div{
                    width: 15.625rem;
                    height: 20rem;
                }
            }
        }
    }
    .main-404{
        .div-404{
            .text{
                .gif-1{
                    width: 18.75rem;
                }
            }
        }
    }
}

@media(max-width:376px){
    main{
        .div-flex{
            .section-1{
                div{
                    width: 21.4375rem;
                    height: 25rem;
                    a{
                        .item-img{
                            width: 21.4375rem;
                            height: 22rem;
                        }
                    }
                }
            }
        }
    }
    main{ 
        .section-product{
            .section-img{
                .potato{
                    img{
                        width: 15.625rem;
                    }
                }
            }
        }
    }
}
@media(max-width:360px){
    main{
        .div-flex{
            .section-1{
                .card{
                    width: 18rem;
                    height: 21.25rem;
                    .a-a{
                        .item-img{
                            width: 18rem;
                            height: 18rem;
                        }
                    }
                }
            }
        }
    }
}