.header-encabezado{
    border: $border;
    margin-bottom: .625rem;
    background-color: map-get($color, negrito);
    nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        #toggle, label{
            display: none;
        }
        .menu{
            display: flex;
            justify-content: center;
            ul{
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                list-style: none;
                gap: 5%;
                li{
                    &:hover{
                        transform: scale(1.2);
                        transition: transform .7s;
                    }
                    a{
                        text-decoration: none;
                        text-transform: none;
                        color: map-get($color, celeste);
                        font-size: 2.5rem;
                        &:hover{
                            color: white;
                            transition: color .7s;
                        }
                    }
                }
            }
        }
        .section-superior{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .logo img{
            border-radius: 100%;
            width: 6.25rem;
            margin-top: .625rem;
            margin-left: 6.25rem;
        }
    }
}