* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    margin: 0px;
    font-size: 1rem;
}

button {
    font-size: 1rem;
    font-family: sans-serif;
    line-height: normal;
}

p {
    margin-bottom: 0px;
}

ul {
    padding: 0px;
}

header {
    font-family: 'lato', sans-serif;
    border: 1px;
}

body {
    background-color: map-get($color, gris);
}